* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Ballistic;
  src: url("../font/Ballistic\ Script.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: OpenSans;
  src: url("../font/OpenSans-VariableFont_wdth\,wght.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: OpenSans;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* style Scrollbar */
::-webkit-scrollbar {
  width: 4px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
  margin: 10px 0px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(210, 210, 210);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2d2d2d;
}

p {
  margin: 0;
}

.text_li {
  font-size: 14px;
  font-weight: bold;
}

main {
  flex-grow: 1;
}

.f_Ballistic{
  font-family: Ballistic !important;
}